<div class="container">
  <ng-container *ngIf="productId; then editProduct else notFound">

  </ng-container>
</div>


<ng-template #editProduct>

  <div class="row mt-2">
    <div class="col-12">
      <h1 class="display-3">Edit product information</h1>
    </div>
  </div>
  <hr class="my-2">
  <div class="row">
    <div class="col-12">

      <ng-container *ngIf="alert.obj">
        <app-alert [alert]="alert.obj"></app-alert>
      </ng-container>

      <form (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="productName">Product name:</label>
          <input type="text" name="productName" id="productName" class="form-control" value="{{ productName }}" [(ngModel)]="productName">
        </div>

        <div class="form-group">
          <label for="category">Category:</label>
          <select name="category" id="category" class="form-control" (change)="onCategoryChange($event.target.value);" [(ngModel)]="categoryId">
            <ng-container *ngFor="let category of categories">
              <option value="{{ category.id }}" [attr.selected]="category.id == categoryId? 'selected' : null">{{ category.name }}</option>
            </ng-container>
          </select>
        </div>

        <div class="form-group">
          <label for="subcategory">Subcategory:</label>
          <select name="subcategory" id="subcategory" class="form-control" [(ngModel)]="subcategoryId">
            <ng-container *ngFor="let subcategory of subcategories">
              <option value="{{ subcategory.id }}" [attr.selected]="subcategory.id == subcategoryId? 'selected' : null">{{ subcategory.name }}</option>
            </ng-container>
          </select>
        </div>

        <div class="form-group">
          <label for="description">Description:</label>
          <textarea class="form-control" name="description" id="description" rows="3" [(ngModel)]="description" style="white-space: pre-wrap;">
            {{ description }}
          </textarea>
        </div>

        <div class="form-group">
          <label for="price">Price:</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-eur" aria-hidden="true"></i></div>
            </div>
            <input type="number" step="any" class="form-control" name="price" id="price" value="{{ price }}" [(ngModel)]="price">
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-danger ml-2">Reset Fields</button>
        </div>

      </form>
    </div>
  </div>
  <hr class="my-2">
  <div class="row">
    <div class="col-12">
      <h2 class="display-5">Add or reduce product quantity</h2>
      <form (ngSubmit)="onChangeQuantitySubmit()" class="form-inline">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Current: {{ quantity }}" readonly>
          <input type="number" name="quantityMod" id="quantityMod" [(ngModel)]="quantityMod" class="form-control ml-2" placeholder="Quantity">
          <button type="submit" class="btn btn-primary ml-2">Confirm</button>
        </div>
      </form>
    </div>
  </div>
  <hr class="my-2">
  <div class="row">
    <div class="col-12">
      <h2 class="display-5">Add product images</h2>
      <div class="form-group">
        <ngx-dropzone [showPreviews]="true" #dropzone (filesAdded)="onFilesAdded($event)" [accept]="'image/*'"></ngx-dropzone>
        <button (click)="onAddPicturesSubmit()" class="btn btn-primary mt-2">Confirm</button>
        <button (click)="dropzone.reset(); onFilesReset()" class="btn btn-warning mt-2 ml-2">Reset images</button>
      </div>
    </div>
  </div>
  <hr class="my-2">
  <div class="row">
    <div class="col-12">
      <h2 class="display-5">Remove product images</h2>
      <div class="row">
        <ng-container *ngFor="let image of images">
          <div class="col-3 imageSelect">
            <input type="checkbox" name="image" (change)="onRemovePictureToggle(image.location)">
            <label for="image">
              <img src="{{ image.url }}">
            </label>
          </div>
        </ng-container>
      </div>
      <button (click)="onRemovePicturesSubmit()" class="btn btn-warning mt-2 mb-2">Confirm</button>
    </div>
  </div>

</ng-template>

<ng-template #notFound>
  <app-alert [type]="'warning'" [heading]="'Product not found'" [message]="'Product with this ID does not exist!'"></app-alert>
</ng-template>
