<form class="form-inline" *ngIf="auth.loggedInUser | async; then authenticated else guest">
  <!-- template will replace this form -->
</form>

<!-- User NOT logged in -->
<ng-template #guest>
  <button (click)="auth.googleSignin()" class="btn btn-primary">
    <i class="fa fa-google"></i> Connect with Google
  </button>
</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.loggedInUser | async as user" class="dropdown">
    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <label class="navbar-text mr-2" style="margin-bottom: 0px;">{{ user.displayName }}</label>
      <img src="{{ user.photoURL }}" class="rounded-circle mr-2" style="height: 40px">
    </a>

    <div class="dropdown-menu">

        <ng-container *ngIf="user.role.admin == true">
          <h6 class="dropdown-header">Admin Tools</h6>
          <a href="/createProduct" class="dropdown-item">Create product</a>
        </ng-container>

        <div class="dropdown-divider"></div>

        <a href="#" (click)="auth.signOut()" class="dropdown-item">Logout</a>
    </div>
  </div>
</ng-template>
