<div class="container">
  <ng-container *ngIf="product; then getProduct else notFound">

  </ng-container>
</div>

<ng-template #getProduct>

  <div class="row mt-2">
    <div class="col-12">
      <div class="jumbotron">
        <h1 class="display-3">{{ product.productName }}</h1>
        <p class="lead">{{ categoryName }} - {{ subcategoryName }}</p>
        <hr class="my-2">
        <div class="row">
          <div class="col-12 col-lg-6">
            <app-product-picture-slider [imageUrls]="imageUrls"></app-product-picture-slider>
          </div>
          <div class="col-12 col-lg-6">
            <p class="lead" style="white-space: pre-wrap;">{{ product.description }}</p>
            <hr class="my-2">
            <p class="lead">
              Price:
              <i class="fa fa-eur" aria-hidden="true"></i>
              {{ product.price }}
            </p>
            <p class="lead">
              Units in stock:
              {{ product.quantity }}
            </p>
            <ng-container *ngIf="auth.loggedInUser | async">
              <hr class="my-2">
              <form class="form-inline d-flex justify-content-between" (ngSubmit)="onSubmit(product.id, product.quantity)">
                <input type="number" min="1" max="{{ product.quantity }}" name="orderQuantity" id="orderQuantity" class="form-control" placeholder="Number of units" [(ngModel)]="orderQuantity">
                <button type="submit" class="btn btn-success">Add to cart</button>
              </form>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-reviews [inputProductId]="product.id">
  </app-reviews>
</ng-template>

<ng-template #notFound>
  <app-alert [type]="'warning'" [heading]="'Product not found'" [message]="'Product with this ID does not exist!'"></app-alert>
</ng-template>
