<div class="container">
  <ng-container *ngIf="shoppingCartItems.length != 0; then getShoppingCart else shoppingCartEmpty">

  </ng-container>
</div>

<ng-template #getShoppingCart>
  <div class="row mt-2">
    <div class="col-12">

        <h1 class="display-3">Shopping cart</h1>
        <hr class="my-2">
        <table class="table table-hover">
          <thead class="thead-light">
            <th class="text-center">#</th>
            <th class="text-center">Product</th>
            <th class="text-center">Quantity ordered</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let shoppingCartItem of shoppingCartItems; let i=index">
              <td class="text-center">{{ i+1 }}</td>
              <td class="text-center">
                <a href="/product/{{ shoppingCartItem.productId }}">
                  {{ productNames[i] }}
                </a>
              </td>
              <td class="text-center">{{ shoppingCartItem.quantity }}</td>
              <td class="text-center">
                <button class="btn btn-danger" (click)="removeFromCart(shoppingCartItem.id)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

    </div>
  </div>
</ng-template>

<ng-template #shoppingCartEmpty>
  Empty
</ng-template>
