<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="display-3">Create a product</h1>
      <hr class="my-2">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="productName">Product name:</label>
          <input type="text" name="productName" id="productName" [(ngModel)]="productName" class="form-control">
        </div>

        <div class="form-group">
          <label for="category">Category:</label>
          <select name="category" id="category" class="form-control" (change)="subcategories = categoriesService.getSubcategories($event.target.value)" [(ngModel)]="categoryId">
            <ng-container *ngFor="let category of categories | async">
              <option value="{{ category.id }}">{{ category.name }}</option>
            </ng-container>
          </select>
        </div>

        <div class="form-group">
          <label for="subcategory">Subcategory:</label>
          <select name="subcategory" id="subcategory" class="form-control" [(ngModel)]="subcategoryId">
            <ng-container *ngFor="let subcategory of subcategories | async">
              <option value="{{ subcategory.id }}">{{ subcategory.name }}</option>
            </ng-container>
          </select>
        </div>

        <div class="form-group">
          <label for="description">Description:</label>
          <textarea class="form-control" name="description" id="description" rows="3" [(ngModel)]="description"></textarea>
        </div>

        <div class="form-group">
          <label for="price">Price:</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-eur" aria-hidden="true"></i></div>
            </div>
            <input type="number" step="any" class="form-control" name="price" id="price" [(ngModel)]="price">
          </div>
        </div>

        <div class="form-group">
          <label for="quantity">Quantity:</label>
          <input type="number" name="quantity" id="quantity" class="form-control" [(ngModel)]="quantity">
        </div>

        <div class="form-group">
          <label for="pictures">Product images: </label>
          <ngx-dropzone [showPreviews]="true" #dropzone (filesAdded)="onFilesAdded($event)" [accept]="'image/*'"></ngx-dropzone>
          <button (click)="dropzone.reset()" class="btn btn-warning mt-2">Reset images</button>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-danger ml-2">Reset Fields</button>
        </div>

      </form>
    </div>
  </div>
</div>
